/* Responsive Styles */

/* Hero Section */

.hero-image {
  width: 110%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  /* Tablet styles */
  .wrap-1,
  .wrapper {
    width: 90%;
    padding: 40px;
  }

  .content {
    gap: 30px;
    padding: 20px;
  }

  .introduction {
    padding: 100px 60px;
  }

  .hero-text {
    font-size: 36px;
    top: 30%;
    left: 53%;
  }

  /* Footer */
  footer {
    padding: 15px;
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* Mobile styles */
  header {
    padding: 15px;
    position: fixed;
    width: 100%;
  }

  header ul {
    gap: 15px;
    font-size: 16px;
    justify-content: center;
  }

  .introduction {
    font-size: 12px;
  }

  .introduction::first-letter {
    font-size: 20px;
    font-weight: bold;
  }

  .hero {
    width: 100%;
    position: relative;
  }

  .hero-text {
    font-size: 20px;
    left: 68%;
    top: 45%;
  }

  .hero-image {
    width: 130%;
    height: 40%;
    object-fit: cover;
  }

  .disclaimer {
    font-size: 12px;
    padding-bottom: 14px;
    padding-top: 0;
    width: 100%;
    margin-left: 15%;
  }

  .content {
    flex-direction: column;
    width: 100%;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    margin-right: 0;
    flex: 1;
  }

  model-viewer {
    width: 100%;
    height: 400px;
  }

  .right-panel h2 {
    font-size: 20px;
  }

  .right-panel p {
    font-size: 14px;
  }

  .feature {
    font-size: 12px;
  }

  .gallery {
    flex-direction: column;
    gap: 20px;
  }

  .thumbnail {
    max-width: 100%;
    height: 60%;
  }

  /* Audio */
  .audio-player {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  /* Footer */
  footer {
    padding: 15px;
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width: 430px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
  /* Small mobile styles */
  header ul {
    gap: 10px;
    font-size: 14px;
  }

  .hero-image {
    width: 130%;
    height: 40%;
    object-fit: cover;
  }

  .hero-text {
    font-size: 20px;
    left: 69%;
    top: 45%;
  }

  .disclaimer {
    margin-left: 15%;
  }

  .wrap-1,
  .wrapper {
    width: 100%;
    padding: 15%;
    margin: 0;
    margin-left: 10px;
  }

  .thumbnail {
    width: 95%;
    margin: 0%;
  }

  .content {
    padding: 6px;
  }

  model-viewer {
    height: 300px;
  }

  .introduction {
    padding: 60px 20px;
  }

  /* Footer */
  footer {
    padding: 15px;
    font-size: 14px;
    width: 120%;
  }
}
